* {
    /* sterretje betekent alles*/
    font-family: 'Rancho', cursive;
}

body {
    height: 100%;
    /*  overflow: hidden;  */
}

.container {
    background-image: linear-gradient(#974621, #bb6943);
    box-sizing: border-box;
    height: 100%;
    width: 60%;
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 350px;
    padding-left: 10px;
    text-align: center;
    border: solid 10px #070606;
    border-radius: 5px;
    margin-left: 350px;
}

.image {
    display: flex;
    justify-content: center;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.image:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#multiplier {
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    font-size: 30px;
}

#auto-click {
    
  
    font-size: 30px;
}

.cookiesCounter {
    border: dashed 3px black;
    border-radius: 1em;
    margin-bottom: 20px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    background-color: burlywood;
    margin-top: 50px;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.clicksCounter {
    border: dashed 3px black;
    border-radius: 1em;
    font-size: 30px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    background-color: burlywood;
    
}
.clicksPerSec {
    border: dashed 3px black;
    border-radius: 1em;
    font-size: 30px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    background-color: burlywood;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom:20px;
    
}

.counterTitle {
    border: solid 5px black;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(241, 138, 100);
    font-size: 50px;
    margin-top: 50px;
}

.noCookiesAlertBonus {
    width: 20%;
    border: solid 3px;
    margin-left: auto;
    margin-right: auto;
}

.noCookiesAlertAuto {
    width: 20%;
    border: solid 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}